<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    <springProperty scope="context" name="log_path" source="logging.file.path"/>
    <springProperty scope="context" name="log_file" source="logging.file.name"/>
    <appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <file>${log_path}/${log_file}.log</file>

        <encoder>
            <pattern>%d [%thread] %-5level %-20logger %M{40} - %msg%n</pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${log_path}/archive/${log_file}-%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>5MB</maxFileSize>
            <maxHistory>3</maxHistory>
            <totalSizeCap>20MB</totalSizeCap>
            <cleanHistoryOnStart>false</cleanHistoryOnStart>
        </rollingPolicy>
    </appender>

    <root>
        <appender-ref ref="RollingFile"/>
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>